<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="client/fragment::baseHeader(~{::title},~{},~{})">
        <title>Thông tin đặt phòng</title>
    </head>


    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade
                your
                browser</a>
            to improve your experience.</p>
        <![endif]-->
        <!-- Pre Loader
        ============================================ -->
        <div class="preloader">
            <div class="loading-center">
                <div class="loading-center-absolute">
                    <div class="object object_one"></div>
                    <div class="object object_two"></div>
                    <div class="object object_three"></div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <!--Header section start-->
            <div class="header-section booking_done">
                <div class="bg-opacity"></div>
                <div th:insert="client/fragment::navbar"></div>
                <!--Welcome secton-->
                <div class="welcome-section text-center ptb-110">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="breadcurbs-inner">
                                    <div class="breadcrubs">
                                        <h2>Booking</h2>
                                        <div class="breadcrubs-menu">
                                            <ul>
                                                <li><a href="#">Home<i class="mdi mdi-chevron-right"></i></a></li>
                                                <li>Booking</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Header section end-->
            <!-- search bar Start -->
            <div class="search-bar animated slideOutUp">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="search-form-wrap">
                                        <button class="close-search"><i class="mdi mdi-close"></i></button>
                                        <form action="#">
                                            <input type="text" placeholder="Search here..." value="Search here..."/>
                                            <button class="search-button" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search bar End -->

            <!--Room booking start-->
            <div class="room-booking ptb-80 white_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title mb-80 text-center">
                                <h2>Booking <span>rooms</span></h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered by injected humour.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="booking-rooms-tab">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a id="bookingInfoTab" href="#booking" data-toggle="tab"><span
                                            class="tab-border">1</span><span>Booking Info</span></a></li>
                                    <li><a id="personalTab" href="#personal" data-toggle="tab"><span class="tab-border">2</span><span>Personal Info</span></a>
                                    </li>
                                    <li><a id="paymentTab" href="#payment" data-toggle="tab"><span
                                            class="tab-border">3</span><span>payment Info</span></a></li>
                                    <li><a ID="doneTab" href="#done" data-toggle="tab"><span
                                            class="tab-border">4</span><span>Booking Done</span></a></li>
                                </ul>
                            </div>
                            <div class="service-tab-desc text-left mt-60">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="booking">
                                        <div class="single-room-details">

                                            <!-- bat dau vong lap-->
                                            <div class="single-room-details fix"
                                                 th:each="entry: ${@bookingCart.bookingItems}"
                                                 th:with=
                                                         "bookingItem=${entry.value}
                                                         ,checkInDate=${@bookingCart.checkInDate}
                                                         ,checkOutDate=${@bookingCart.checkOutDate}
                                                         ,unitPrice=${bookingItem.room.roomType.unitPrice}
                                                         ,adults=${bookingItem.adults}
                                                         ,children=${bookingItem.children}
                                                         ,subTotal=${bookingItem.calculateSubTotal(checkInDate, checkOutDate)}">
                                                <div class="room-img">
                                                    <img th:src="${bookingItem.room.roomType.roomTypeImages[0].path}" alt="room image">
                                                </div>
                                                <div class="single-room-details pl-50">
                                                    <a th:href="@{/cart/removeRoom(roomId=${bookingItem.room.roomId})}" class="btn btn-danger">xoá</a>
                                                    <h3 class="s_room_title">phòng số:
                                                        <span th:text="${bookingItem.room.roomNumber}"></span>, Loại
                                                        phòng:
                                                        <span th:text="${bookingItem.room.roomType.typeName}">deluxe</span>
                                                    </h3>
                                                    <div class="room_price">
                                                        <h4>Đơn giá:
                                                            <span th:text="${#numbers.formatCurrency(unitPrice)}">800,000</span>/đêm
                                                        </h4>
                                                        <h5>Số đêm:
                                                            <span th:text="${bookingItem.countNight(checkInDate, checkOutDate)}">3</span>
                                                        </h5>
                                                        <h5>Thành
                                                            tiền:<span th:text="${#numbers.formatCurrency(subTotal)}">1,600,000</span>
                                                        </h5>
                                                        <h5>
                                                            Số người lớn: <span th:text="${adults}">3</span>, số trẻ em:<span th:text="${children}">2</span>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--  ket thuc vong lap-->
                                            <div style="clear: both">
                                                <div>
                                                    <form id="promotionForm" action="/cart/checkPromotion" method="GET">
                                                        <input type="text" placeholder="nhập mã giảm giá nếu có" name="promotionCode">
                                                        <input type="submit" value="Kiểm tra">
                                                    </form>
                                                    <p id="message" th:if="${message}" th:text="${message}"></p>
                                                </div>

                                                <h3 id="promotion" th:if="${@bookingCart.promotion.promotionValue} != 0">
                                                    giảm giá:
                                                    <span th:text="${#numbers.formatCurrency(@bookingCart.promotion.promotionValue)}"></span>
                                                </h3>

                                                <h3>tổng cộng:
                                                    <span th:text="${#numbers.formatCurrency(@bookingCart.calculateTotal())}"></span>
                                                </h3>
                                                <div class="prve-next-box mt-20">
                                                    <button type="button" id="nextToPersonal">Next</button>
                                                </div>

                                            </div>
                                            <div class="single-room-booking-form mt-60">
                                                <div class="booking_form_inner">
                                                    <form th:action="@{/search-available-room}" method="POST">
                                                        <div class="single-form-part">
                                                            <!--ngày đến-->
                                                            <div class="date-to mb-20">
                                                                <input type="text" placeholder="Ngày đến" name="checkInDate" th:value="${#temporals.format(@bookingCart.checkInDate,'dd/MM/yyyy')}" readonly>
                                                            </div>
                                                            <div class="select-option">
                                                                <input type="number" placeholder="Số người lớn" name="adults">
                                                            </div>
                                                        </div>
                                                        <div class="single-form-part">
                                                            <div class="date-to mb-20">
                                                                <!--ngày đi-->
                                                                <input type="text" placeholder="Ngày đi" name="checkOutDate" th:value="${#temporals.format(@bookingCart.checkOutDate,'dd/MM/yyyy')}" readonly>
                                                            </div>
                                                            <div class="select-option">
                                                                <input type="number" placeholder="Số trẻ em" name="children">
                                                            </div>
                                                        </div>

                                                        <div class="single-form-part">
                                                            <div class="submit-form">
                                                                <button type="submit">Tìm kiếm</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="personal">
                                        <div class="personal-info-details">
                                            <div class="booking-info-inner">
                                                <form action="#" id="personalForm">
                                                    <div class="booking-form-list">
                                                        <div class="single-form-part">
                                                            <div class="name mb-15">
                                                                <input type="text" placeholder="Họ" name="lastName" tabindex="1" required>
                                                            </div>
                                                            <div class="select-option" tabindex="4" required>
                                                                <select name="gender">
                                                                    <option value="" selected>Giới tính</option>
                                                                    <option value="MALE">Nam</option>
                                                                    <option value="FEMALE">Nữ</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="single-form-part">
                                                            <div class="name mb-15">
                                                                <input type="text" placeholder="Tên" name="firstName" tabindex="2" required>
                                                            </div>
                                                            <!--													for phone-->
                                                            <div class="name mb-15">
                                                                <input type="text" placeholder="Số điện thoại" name="phone" tabindex="5" required>
                                                            </div>

                                                        </div>
                                                        <div class="single-form-part">
                                                            <div class="mail mb-15">
                                                                <input type="text" placeholder="Your Email" name="email" tabindex="3" required>
                                                            </div>
                                                            <!--for email -->
                                                            <div class="name mb-15">
                                                                <input type="text" name="indentifyNo" placeholder="CMND" tabindex="6" required>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="prve-next-box mt-20">

                                                        <button id="NextToPayment" type="submit">Next</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="payment">
                                        <div class="payment-info">
                                            <form action="#" id="payForm" method="POST">
                                                <div class="payment-form">
                                                    <div class="payment-form-list">
                                                        <div class="single_form">
                                                            <input type="text" name="ownerName" placeholder="Tên Chủ thẻ" required>
                                                        </div>
                                                        <div class="single_form">
                                                            <input type="text" name="cardNumber" placeholder="Số tài khoản" required>
                                                        </div>
                                                        <div class="single_form">
                                                            <input type="number" name="expiryMonth" placeholder="Tháng hết hạn" required>
                                                        </div>
                                                        <div class="single_form">
                                                            <input type="number" name="expiryYear" placeholder="Năm hết hạn" required>
                                                        </div>
                                                        <div class="pay-money-form mt-40">
                                                            <div class="payment-card">
                                                                <a href="#"><img src="/images/logo/pay-card.png" alt=""></a>
                                                            </div>
                                                            <div class="pay-order">
                                                                <button type="submit">Pay now</button>
                                                            </div>
                                                        </div>
                                                        <p id="credit-cart-error"></p>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="booking-done-table table-responsive text-center">
                                            <table class="table">


                                                <thead>
                                                    <tr>
                                                        <th>Số Phòng</th>
                                                        <th>Số Đêm</th>
                                                        <th>Giảm Giá</th>
                                                        <th>Thanh Toán</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:with="checkInDate=${@bookingCart.checkInDate},checkOutDate=${@bookingCart.checkOutDate}">
                                                        <th th:text="${@bookingCart.bookingItems.size()}"></th>
                                                        <th th:text="${@bookingCart.bookingItems.values()[0].countNight(checkInDate, checkOutDate)}"></th>
                                                        <th th:text="${#numbers.formatCurrency(@bookingCart.promotion.promotionValue)}"></th>
                                                        <th th:text="${#numbers.formatCurrency(@bookingCart.calculateTotal())}"></th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="done">
                                        <div class="booking-done">
                                            <div class="booking-done-table table-responsive text-center">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td><p>1 Room <span>Five Adult &amp; 1 child</span></p></td>
                                                            <td><p>$120 <span>Rate</span></p></td>
                                                            <td><p>5 <span>night</span></p></td>
                                                            <td><p>$550</p></td>
                                                        </tr>
                                                        <tr class="row2">
                                                            <td><p>tax <span>20% tax</span></p></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><p>$90</p></td>
                                                        </tr>
                                                        <tr class="row3">
                                                            <td><p>Total</p></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><p>$640</p></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="booking-done-description">
                                                <p id="bookingCode"></p>
                                                <div class="succesfully">
                                                    <strong>Your reservation was succefully submited!!</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Room booking end-->

            <!--hotel team start-->
            <div class="hotel-team white_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="newsletter">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="newsletter-title">
                                            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="newsletter-form">
                                            <form id="mc-form" class="mc-form">
                                                <input id="mc-email" type="email" autocomplete="off"
                                                       placeholder="Enter Address..."/>
                                                <button id="mc-submit" type="submit">Subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--hotel team end-->
            <!--Footer start -->
            <th:block th:include="client/fragment::footer-copyright"></th:block>
            <!-- Footer end -->
        </div>


        <!-- Placed js at the end of the document so the pages load faster -->

        <!-- jquery latest version -->
        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="/js/bootstrap.min.js"></script>
        <!--counter up js-->
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <!-- Video player js -->
        <script src="/js/video-player.js"></script>
        <!-- headlines js -->
        <script src="/js/animated-headlines.js"></script>
        <!-- Ajax mail js -->
        <script src="/js/mailchimp.js"></script>
        <!-- Ajax mail js -->
        <script src="/js/ajax-mail.js"></script>
        <!-- parallax js -->
        <script src="/js/parallax.js"></script>
        <!-- textilate js -->
        <script src="/js/textilate.js"></script>
        <script src="/js/lettering.js"></script>
        <!--isotope js-->
        <script src="/js/isotope.pkgd.min.js"></script>
        <script src="/js/packery-mode.pkgd.min.js"></script>
        <!-- Style Customizer Js  -->
        <script src="/js/style-customizer.js"></script>
        <!-- Owl carousel Js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!--Magnificant js-->
        <script src="/js/jquery.magnific-popup.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="/js/plugins.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src="/js/main.js"></script>


        <script>
            // vo hieu hoa click tren moi tab
            $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").click(function (event) {
                event.preventDefault()
                event.stopPropagation();
            });


            if ($("#promotion").length || !$(".single-room-details.fix").length) {
                // neu co ton tai phan tu h4#promotion (hien thi promotion value)
                // vo hieu hoa form (checkpromtion)
                $("#promotionForm").hide();

            }

            $("#nextToPersonal").click(function () {
                $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").off('click');
                $("#personalTab").click();
                $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").click(function (event) {
                    event.preventDefault()
                    event.stopPropagation();
                });

            });


            $("#personalForm").submit(function (event) {
                $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").off('click');
                event.preventDefault();
                $("#paymentTab").click();
                $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").click(function (event) {
                    event.preventDefault()
                    event.stopPropagation();
                });
            });

            $("#payForm").submit(function (event) {
                event.preventDefault();
                var queryString = $(this).serialize() + '&' + $('#personalForm').serialize();
                $.ajax(
                    {
                        url: '/check-credit-cart',
                        type: "POST",
                        data: queryString,
                        success: function (result) {
                            console.log(result);
                            // XU LY LOGIC O DAY
                            if (result == "not match") {
                                $('#credit-cart-error').html("Thông tin thẻ không chính xác");
                                return;
                            } else if (result == "not enough") {
                                $('#credit-cart-error').html("Thẻ hiện không có đủ tiền");
                                return;
                            }


                            // neu thanh cong thi sẽ cap nhat lai noi dung cua tab booking done.

                            $('#bookingCode').html('Mã đặt phòng của bạn là: ' + result.);
                            $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").off('click');
                            $('#doneTab').click();
                            $("#bookingInfoTab, #personalTab, #paymentTab, #doneTab").click(function (event) {
                                event.preventDefault()
                                event.stopPropagation();
                            });
                        }


                    }
                )
            });


        </script>


    </body>

</html>