<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">


    <head th:replace="client/fragment::baseHeader(~{::title},~{},~{})">
        <title>Đặt Phòng</title>
    </head>


    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade
                your
                browser</a>
            to improve your experience.</p>
        <![endif]-->
        <!-- Pre Loader
        ============================================ -->
        <div class="preloader">
            <div class="loading-center">
                <div class="loading-center-absolute">
                    <div class="object object_one"></div>
                    <div class="object object_two"></div>
                    <div class="object object_three"></div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <!--Header section start-->
            <div class="header-section about-us">
                <div class="bg-opacity"></div>
                <div th:insert="client/fragment::navbar"></div>
                <!--Welcome secton-->
                <div class="welcome-section text-center ptb-110">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="breadcurbs-inner">
                                    <div class="breadcrubs">
                                        <h2>Booking</h2>
                                        <div class="breadcrubs-menu">
                                            <ul>
                                                <li><a href="#">Home<i class="mdi mdi-chevron-right"></i></a></li>
                                                <li>Booking</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Header section end-->
            <!-- search bar Start -->
            <div th:replace="client/fragment::search-bar"></div>
            <!-- search bar End -->
            <!--room booking start-->
            <div class="room-booking ptb-100 white_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="booking_form">
                                <div class="form-title">
                                    <h2>Book A Room</h2>
                                    <p>Xác Nhận thông tin chi tiết để đặt phòng</p>
                                </div>

                                <div class="room-booking-box">
                                    <form th:action="@{/cart/addRoom}" method="POST">

                                        <input type="hidden" name="roomId" th:value="${param.roomId}">


                                        <div class="booking-box1 mb-15 fix">
                                            <div class="booking-filed">
                                                <input type="text" placeholder="Ngày đến" name="checkInDate" th:value="${#temporals.format(@bookingCart.checkInDate,'dd/MM/yyyy')}" readonly>
                                            </div>
                                            <div class="booking-filed">
                                                <input type="text" placeholder="Ngày đi" name="checkOutDate" th:value="${#temporals.format(@bookingCart.checkOutDate,'dd/MM/yyyy')}" readonly>
                                            </div>
                                        </div>
                                        <div class="booking-box1 mb-15 fix">
                                            <div class="booking-filed">
                                                <select name="adults" id="adults" required>
                                                    <option value="">Chọn số Người lớn</option>
                                                    <option th:each="item: ${#numbers.sequence(1, adultCapacity)}" th:value="${item}" th:text="${item}"></option>
                                                </select>
                                            </div>
                                            <div class="booking-filed">
                                                    <select name="children" id="children" required>
                                                        <option value="">Chọn số trẻ em</option>
                                                        <option th:each="item: ${#numbers.sequence(1, childrenCapacity)}" th:value="${item}" th:text="${item}"></option>
                                                    </select>
                                            </div>
                                        </div>

<!--                                        <div class="booking-box1 mb-15 fix">-->
<!--                                            <div id="promotionCode">-->
<!--                                                <input type="text" name="promotionCode" placeholder="Nhập mã giảm giá">-->
<!--                                            </div>-->
<!--                                        </div>-->


                                        <div class="submit-form mt-25">
                                            <button type="submit">add to cart</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="selcted-room">
                                <div class="select-room-inner">
                                    <div class="select-room-title">
                                        <h3>Selected Room</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available,</p>
                                    </div>
                                    <div class="room-rent fix mb-45">
                                        <div class="room-rent-img">
                                            <img src="images/room/small-room.jpg" alt="">
                                        </div>
                                        <div class="room-rent-desc">
                                            <h3 class="roome-rent-title">SINGLE Room</h3>
                                            <div class="room-sub-desc">
                                                <h4>Total Price</h4>
                                                <h3>550<span>/per night</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-social-share mb-45">
                                        <h3>Social share</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available,</p>
                                        <div class="social-links">
                                            <a href="#"><i class="mdi mdi-facebook"></i></a>
                                            <a href="#"><i class="mdi mdi-rss"></i></a>
                                            <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                            <a href="#"><i class="mdi mdi-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="need-help">
                                        <h3>Need Booking Help?</h3>
                                        <h4>Phone: <span>+98 98 95547 587</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--room booking end-->

            <!--hotel team start-->
            <div class="hotel-team white_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="newsletter">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="newsletter-title">
                                            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="newsletter-form">
                                            <form id="mc-form" class="mc-form">
                                                <input id="mc-email" type="email" autocomplete="off"
                                                       placeholder="Enter Address..."/>
                                                <button id="mc-submit" type="submit">Subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--hotel team end-->
            <!--Footer start -->
            <th:block th:include="client/fragment::footer-copyright"></th:block>
            <!-- Footer end -->
        </div>


        <!-- Placed js at the end of the document so the pages load faster -->

        <!-- jquery latest version -->
        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="/js/bootstrap.min.js"></script>
        <!--counter up js-->
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <!-- Video player js -->
        <script src="/js/video-player.js"></script>
        <!-- headlines js -->
        <script src="/js/animated-headlines.js"></script>
        <!-- Ajax mail js -->
        <script src="/js/mailchimp.js"></script>
        <!-- Ajax mail js -->
        <script src="/js/ajax-mail.js"></script>
        <!-- parallax js -->
        <script src="/js/parallax.js"></script>
        <!-- textilate js -->
        <script src="/js/textilate.js"></script>
        <script src="/js/lettering.js"></script>
        <!--isotope js-->
        <script src="/js/isotope.pkgd.min.js"></script>
        <script src="/js/packery-mode.pkgd.min.js"></script>
        <!-- Style Customizer Js  -->
        <script src="/js/style-customizer.js"></script>
        <!-- Owl carousel Js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!--Magnificant js-->
        <script src="/js/jquery.magnific-popup.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="/js/plugins.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src="/js/main.js"></script>
    </body>

</html>