<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="client/fragment::baseHeader(~{::title},~{},~{})">
	<title>Nhân viên</title>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                       your
                                                                                                                       browser</a>
                          to improve your experience.</p>
<![endif]-->

<!-- Pre Loader
============================================ -->
<div class="preloader">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_one"></div>
			<div class="object object_two"></div>
			<div class="object object_three"></div>
		</div>
	</div>
</div>

<div class="wrapper">
	<!--Header section start-->
	<div class="header-section about-us">
		<div class="bg-opacity"></div>
		<div th:insert="client/fragment::navbar"></div>
		<!--Welcome secton-->
		<div class="welcome-section text-center ptb-110">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="breadcurbs-inner">
							<div class="breadcrubs">
								<h2>Staff</h2>
								<div class="breadcrubs-menu">
									<ul>
										<li><a href="#">Home<i class="mdi mdi-chevron-right"></i></a></li>
										<li>Staff</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--Header section end-->
	<!-- search bar Start -->
	<div class="search-bar animated slideOutUp">
		<div class="table">
			<div class="table-cell">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="search-form-wrap">
								<button class="close-search"><i class="mdi mdi-close"></i></button>
								<form action="#">
									<input type="text" placeholder="Search here..." value="Search here..."/>
									<button class="search-button" type="submit">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- search bar End -->
	<!--Our news start-->
	<div class="our-staff text-center ptb-80 white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title mb-80">
						<h2>our <span>staff</span></h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have
						   suffered by injected humour.</p>
					</div>
				</div>
			</div>
			<div class="staff-list">
				<div class="row">
					<div class="carousel_list our-news-list">
						<div class="single-page-staff">
							<div class="col-md-4 col-sm-6 col-xs-12 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-page-staff">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-page-staff">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff2.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="single-staff">
									<div class="sraff-inner">
										<img src="images/staff/staff1.jpg" alt="">
										<div class="staff-title">
											<span class="plus"></span>
											<h2>Soleman</h2>
											<h5>hotel staff</h5>

										</div>
										<div class="staff-hover-desc">
											<h2>Soleman</h2>
											<h5>hotel staff</h5>
											<p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby
											   injected humour, amr.</p>
											<div class="scoial_icons">
												<a href="#"><i class="mdi mdi-facebook"></i></a>
												<a href="#"><i class="mdi mdi-rss"></i></a>
												<a href="#"><i class="mdi mdi-google-plus"></i></a>
												<a href="#"><i class="mdi mdi-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Our news end-->
	<!--hotel team start-->
	<div class="hotel-team white_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<div class="row">
							<div class="col-md-6">
								<div class="newsletter-title">
									<h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
								</div>
							</div>
							<div class="col-md-6">
								<div class="newsletter-form">
									<form id="mc-form" class="mc-form">
										<input id="mc-email" type="email" autocomplete="off"
										       placeholder="Enter Address..."/>
										<button id="mc-submit" type="submit">Subscribe</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--hotel team end-->
	<!--Footer start -->
	<th:block th:include="client/fragment::footer-copyright"></th:block>
	<!-- Footer end -->
</div>


<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap framework js -->
<script src="js/bootstrap.min.js"></script>
<!--counter up js-->
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<!-- Video player js -->
<script src="js/video-player.js"></script>
<!-- headlines js -->
<script src="js/animated-headlines.js"></script>
<!-- Ajax mail js -->
<script src="js/mailchimp.js"></script>
<!-- Ajax mail js -->
<script src="js/ajax-mail.js"></script>
<!-- parallax js -->
<script src="js/parallax.js"></script>
<!-- textilate js -->
<script src="js/textilate.js"></script>
<script src="js/lettering.js"></script>
<!--isotope js-->
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/packery-mode.pkgd.min.js"></script>
<!-- Style Customizer Js  -->
<script src="js/style-customizer.js"></script>
<!-- Owl carousel Js -->
<script src="js/owl.carousel.min.js"></script>
<!--Magnificant js-->
<script src="js/jquery.magnific-popup.js"></script>
<!-- All js plugins included in this file. -->
<script src="js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="js/main.js"></script>
</body>

</html>