.welcome-section.ptb-110, .welcome-section {
    padding: 110px 0;
    background-image: url(https://www.hoteliermagazine.com/wp-content/uploads/2018/09/designer-experience.jpg);
}

.welcome-section {
    padding: 110px 0;
    background-image: url(/images/background.jpg);
}


.card-columns {
    column-count: 4;
}

.card-columns li {
    list-style: disc;
    padding: 10px 0px;
    font-size: 1.25em;
}


#myCarousel {
    position: relative;
}

#myCarousel a#btnBooking {
    position: absolute;
    top: 46%;
    left: 42%;
}


.single-room-details.fix {
    margin-bottom: 30px;
    border: 1px solid #3ac4fa;
    padding: 10px;
    position: relative;
}

.single-room-details.fix a.btn {
    position: absolute;
    top: 50%;
    left: 70%;
}


#message {
    color: red;
}


#credit-cart-error {
    font-size: 2em;
    color: red;
}




