<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <style>
            .container {
                width: 300px;
                position: relative;
            }

            img {
                width: 100%;
            }

            button {
                position: absolute;
                top: 50%;
                left: 32%;
                display: none;
            }

            .container:hover button {
                display: inline;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img src="E:\DOAN\booking-hotel\src\main\resources\static\images\room\apartment-1.jpg" alt="">
            <button>booking now</button>
        </div>
        <div class="container">
            <img src="E:\DOAN\booking-hotel\src\main\resources\static\images\room\apartment-2.jpg" alt="">
            <button>booking now</button>
        </div>
        <div class="container">
            <img src="E:\DOAN\booking-hotel\src\main\resources\static\images\room\apartment-3.jpg" alt="">
            <button>booking now</button>
        </div>
        <div class="container">
            <img src="E:\DOAN\booking-hotel\src\main\resources\static\images\room\apartment-4.jpg" alt="">
            <button>booking now</button>
        </div>

    </body>
</html>